html {
    font-size: 10px;
}

body {
    background-color: rgb(239, 195, 203);
    font-family: 'Vollkorn', serif;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding-bottom: 0;
    font-weight: bold;
    width: 100%
}

img {
    max-width: 100%vw;
    height: auto;
}

.header {
    background-color: rgba(243, 188, 188, 0.5);
    padding: 25px 0;
    margin-top: 30px;
    max-width: 100%vw;
}

h1 {
    color: rgb(235, 75, 155);
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Mate SC', serif;
    font-size: 50px;
}

h2 {
    font-family: 'Mate SC', serif;
    font-size: 40px;
    color: rgb(235, 75, 155);

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    width: 100%vw;
}

#tribute-info {
    background-color: rgb(241, 167, 192);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    min-width: 350px;
    padding: 30px 60px;
    text-align: justify;
}

#img-div {
    max-width: 100%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    font-size: 15px
}

#headline {
    margin: 25px 0;
    text-align: center;
}

blockquote {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    max-width: 100%vw;
    min-width: 601px;
}

figcaption, h3 {
    color: black;
    font-size: 18px;
    max-width: 100%vw;
}

a:link {
    color:rgb(235, 75, 155);
}

a:visited {
    color: hotpink;
}
  
a:hover {
    color: hotpink;
}
  
a:active {
    color: rgb(168, 41, 104);
}
  